/Agilent34972A.py
/Agilent34972ADriver.py
/Agilent34972A_TEST_dialog.py
/SCPI.py
/daq-chat1.py
/test1.py
/testcsv.py
/testcsvplot.py
/testcsvplot2.py
__pycache__/DaqInfoTab.cpython-311.pyc
__pycache__/EquipmentHandler.cpython-311.pyc
__pycache__/EquipmentInfoTab.cpython-311.pyc
tt.py
__pycache__/DaqInfoTab.cpython-39.pyc
.gitignore
__pycache__/EquipmentInfoTab.cpython-39.pyc
__pycache__/EquipmentHandler.cpython-39.pyc
__pycache__/DaqInfoTab.cpython-310.pyc
__pycache__/EquipmentHandler.cpython-310.pyc
__pycache__/EquipmentInfoTab.cpython-310.pyc
